@font-face {
    src: url(fonts/Roboto-VariableFont_wdth\,wght.ttf);
    font-family: Roboto;
}

* {
    box-sizing: border-box;
}

body{
    margin: 0;
}

.headercontainer{
    font-family: Roboto;
    font-size: 50px;
    padding: 5px;
    display: flex;
    background-color: hsl(0, 0%, 50%);
    height: 75px; /*the height of the box behind the text*/
    justify-content: center; /*this allows the text to be centered horizontally*/
    align-items: center; /*this allows the text to be centered vertically*/
}

.userinfo{
    font-family: Roboto;
    background-color:yellowgreen;
    height: 62px;   
} 

.usersname{
    border: 1px solid;
    padding: 20px;
    height: auto;
    width: 50%;
    float: left;
    text-align: center; 
}

.startdate{
    border: 1px solid;
    padding: 20px;
    height: auto;
    width: 50%;
    float: left;
    text-align: center; 
}

.candidateinfo{ /*the main box that users input basic candidate info. change elements of the orange background here */
    font-family: Roboto;
    background-color:orange;
    height: 81px;   
}

.candidatename{
    border: 1px solid;
    padding: 20px;
    height: auto;
    width: 25%;
    float: left;
    text-align: center;   
}

.State{
    border: 1px solid;
    padding: 21.5px;
    height: auto;
    width: 25%;
    float: left;
    text-align: center;  
}


.Office{
    border: 1px solid;
    padding: 21.5px;
    height: auto;
    width: 25%;
    float: left;
    text-align: center;  
}

.Jurisdiction{
    border: 1px solid;
    padding: 21.5px;
    height: auto;
    width: 25%;
    float: left;
    text-align: center;
}

.candidatepro{
    font-family: Roboto;
    background-color:red;
    height: 63px; 
}

.candidatepronounce{
    border: 1px solid;
    padding: 20px;
    height: auto;
    width: 100%;
    float: left;
    text-align: center; 
}

.date{
    font-family: Roboto;
    background-color:lightblue;
    height: 62px;
}

.primary{
    border: 1px solid;
    padding: 20px;
    height: auto;
    width: 50%;
    float: left;
    text-align: center; 
}

.general{
    border: 1px solid;
    padding: 20px;
    height: auto;
    width: 50%;
    float: left;
    text-align: center; 
}

#submit{
    text-align: center;
}

#submitbutton{
  background-color: red;
  border: 2px solid black;
  border-radius: 8px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

#submitbutton:hover{
    background-color: hsl(0, 0%, 20%);
}

.endorsements{
    font-family: Roboto;
    border: 1px solid;
    padding: 20px;
    height: auto;
    width: 100%;
    float: left;
    text-align: center; 
}

.candissues1{
    font-family: Roboto;
    background-color: aquamarine;
    border: 1px solid;
    height: 82px;
}

.candissues2{
    font-family: Roboto;
    background-color: aquamarine;
    border: 1px solid;
    height: 82px;
}

.issue1{
    padding: 20px;
    height: auto;
    border: 1px solid;
    width: 50%;
    float: left;
    text-align: center; 
    grid-template-columns: 1fr 3fr;
}
.issue2{
    padding: 20px;
    height: auto;
    border: 1px solid;
    width: 50%;
    float: left;
    text-align: center; 
}
.issue3{
    padding: 20px;
    height: auto;
    border: 1px solid;
    width: 33.33%;
    float: left;
    text-align: center; 
}
.issue4{
    padding: 20px;
    height: auto;
    border: 1px solid;
    width: 33.33%;
    float: left;
    text-align: center; 
}
.issue5{
    padding: 20px;
    height: auto;
    border: 1px solid;
    width: 33.33%;
    float: left;
    text-align: center; 
}


